* {
    -canvas-color: #00283b;
    -border-pane-color: #2f3e46;
    -button-color: #ced4da;
    -accept-button-color: #8ac926;
    -cancel-button-color: #c32f27;
    -focused-button-color: #80ffdb;
    -button-text-color: black;
    -menu-text-color: #adb5bd;
    -menu-color: #212529;
    -text-field-color: #415a77;
    -text-field-text-color: #a8dadc;

    -list-view-background-color:  #415a77;
    -list-cell-even: -list-view-background-color;
    -list-cell-odd: #4a4e69;
    -list-cell-text-color: #a8dadc;

    -hyperlink-color:#ffafcc;
    -hyperlink-color-visited:#a8dadc;

    -scrollbar-thumb-color: #003049;
}

.hyperlink{
    -fx-font-size: 15;
    -fx-text-fill: -hyperlink-color;
}

.hyperlink:visited{
    -fx-font-size: 15;
    -fx-text-fill: -hyperlink-color-visited;
}

.start-vbox{
    -fx-background-color: -canvas-color;
}

.text-input {
    -fx-background-radius: 0;
    -fx-border-color: #e76f51;
}

.canvas {
    -fx-background-color: -canvas-color;
}

.pane {
    -fx-background-color: -canvas-color;
}

.border-pane {
    -fx-background-color: -border-pane-color;
}

.button{
    -fx-background-color: -button-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: -button-text-color;
}

.accept-button {
    -fx-background-color: -accept-button-color;
}

.button:focused{
    -fx-border-color: -focused-button-color;
}

.cancel-button {
    -fx-background-color: -cancel-button-color;
}

.menu-bar{
    -fx-base: -menu-color;
    -fx-background-color: -menu-color;
    -fx-fill: -menu-color;
}

.menu-item{
    -fx-base: -menu-color;
}

.text-field{
    -fx-background-color:-text-field-color;
    -fx-text-fill: -text-field-text-color;
}

.list-view .list-cell:even {
    -fx-background-color: -list-cell-even;
    -fx-text-fill: -list-cell-text-color;
}

.list-view{
    -fx-background-color: -list-view-background-color;
}

.list-view .list-cell{
    -fx-alignment: center;
}

.list-view .list-cell:odd {
    -fx-background-color: -list-cell-even;
    -fx-text-fill: -list-cell-text-color;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(-scrollbar-thumb-color,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0;
    -fx-scale-x: 2;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(-scrollbar-thumb-color,40.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0;
}

.scroll-bar:vertical,
.scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

