* {
    -alert-pane-color: #2f3e46;
    -alert-button-color: #6c757d;
    -alert-button-text-color: #a8dadc;
    -alert-button-ok-color: #6096ba;
    -alert-button-cancel-color: #723d46;
    -focused-button-color: #80ffdb;
    -alert-text-color: #a8dadc;

    -scrollbar-thumb-color: #003049;

}

.alert-pane {
    -fx-background-color: -alert-pane-color;
}

.alert-button {
    -fx-background-color: -alert-button-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
    -fx-text-fill: -alert-button-text-color;
}

.alert-button:focused{
    -fx-border-color: -focused-button-color;
}

.alert-message{
    -fx-fill: -alert-text-color;
    -fx-text-fill: -alert-text-color;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: -alert-text-color;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.alert-message .content{
    -fx-background-color: -alert-pane-color;

    -fx-text-alignment: center;
    -fx-font-size: 15px;
}


.alert-header{
    -fx-fill: -alert-text-color;
}

.alert-ok-button{
    -fx-background-color: -alert-button-ok-color;
}

.alert-cancel-button{
    -fx-background-color: -alert-button-cancel-color;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(-scrollbar-thumb-color,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0;
    -fx-scale-x: 2;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(-scrollbar-thumb-color,40.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0;
}

.scroll-bar:vertical,
.scroll-bar:horizontal{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}